div.container {
  border: 1px solid black;
  width: 60%;
  text-align: center;
  background-color: bisque;
  border-radius: 10px;
}

.trashSpan:hover {
  cursor: pointer;
}

.msg {
  display: none;
  margin: 0 auto;
  margin-right: 40px;
  color: red;
}

body {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inputs {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
}

div.header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  align-items: center;
}

.header i {
  font-size: 40px;
}

.inputs input {
  width: 70%;
  height: 30px;
}

div.inputs button {
  width: 20%;
  height: 35px;
}

div.clear {
  width: 50%;
  border: 1.5px solid black;
  margin: 5px auto;
  background-color: aliceblue;
  border-radius: 5px;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 0;
}

div.tasks {
  width: 95%;
  border: 1px solid black;
  min-height: 190px;
  border-radius: 5px;
  margin: 5px auto;
}

.dynamicElement {
  width: 95%;
  height: 30px;
  margin: 4px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  div.container {
    width: 97%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  div.tasks {
    min-height: 330px;
  }

  #taskTextField {
    height: 40px;
    border-radius: 7px;
    border: 1px solid black;
  }

  div.inputs {
    display: flex;
    align-items: center;
  }
}
